<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="buttons">
            <form action="/view_graph" method="get">
                <button class="btn">Graph Generation</button>
            </form>
            <form action="/view_metadata" method="get">
                <button class="btn">View Metadata</button>
            </form>
            <form action="/upload_folder" method="post" enctype="multipart/form-data">
                <input type="file" name="folder" webkitdirectory directory multiple>
                <button class="btn">Upload Folder</button>
            </form>
            <form action="/logout" method="get">
                <button class="btn logout">Sign Out</button>
            </form>
        </div>
    </div>
</body>
</html>